<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/loginStyle.css" type="text/css" />
</head>
<body>
    <form action="/registration" method="POST" class="form">
        <h3 class="login">REGISTRATION</h3>
        <hr class="lineup">
        <label for="username" class="label">USERNAME</label>
        <input type="text" name="username" class="input" required>
        <br><br>
        <label for="password" class="label">PASSWORD</label>
        <input type="password" name="password" class="input" required>
        <br><br>
        <input type="submit" value="SIGN IN" class="submit">
        <hr class="line">
        <h4 class="switch">RETURN TO AUTHENTICATION</h4>
    </form>
    
</body>
</html>